<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem de Produtos</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        <%list.forEach(function(item){%>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.title%></td>
            <td><%=item.description%></td>
            <td><%=item.price%></td>
        </tr>
        <%})%>
        <tr>
        </tr>
    </table>
</body>
</html>