<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem de Produtos</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>Nome</th>            
        </tr>
        <tr>
            <td>1</td>
            <td>Livro Node.js</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Livro Node.js</td>
        </tr>
        <a href="/teste">aa</a>
    </table>
</body>
</html>